.main {
    padding-top: 5%;
    width: 90%;
    text-align: left;
    padding-left: 10%;
}
.textbox-b64[contenteditable]:empty::before{
    content: "Base64";
    color: gray;
}
.textbox-pt[contenteditable]:empty::before{
    content: "Plain Text";
    color: gray;
}
.spacer{
    width: 100px;
}